body {
  margin: 0;
  text-align: center;
  background: #5F849E;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: clip;
  perspective: 10px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid white;
  background: #0A2342;
}

nav > .nav-section {
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid white;
}

#nav-logo-section, #nav-menu-section {
  flex-basis: calc(100% / 10);
  font-size: 1.5rem;
}

#nav-social-section {
  flex-grow: 2;
  justify-content: flex-end;
  gap: 3rem;
  font-size: 1.5rem;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -2;
}

.background {
  position: absolute;
  height: 250%;
  width: 115%;
  object-fit: cover;
  z-index: -2;
  transform: translateY(675px) translateZ(-10px) scale(2);
}

.foreground {
  position: absolute;
  height: 200%;
  width: 110%;
  object-fit: cover;
  z-index: -2;
  transform: translateY(500px) translateZ(-5px) scale(1.5);
}

.titles {
  margin: 0;
  position: sticky;
  top: 35%;
  z-index: -1;
}

h1, h2 {
  margin: 0;
  font-family: 'Niconne', cursive;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

.subtitle {
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 5px black;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
  height: 300%;
  transform: translateY(200px);
}

.logo {
  height: 40px;
}

