body {
  margin: 0;
  text-align: center;
  background: #5F849E;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: clip;
  perspective: 10px;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  height: 12.5%;
  width: 100%;
  border-bottom: 1px solid white;
  background: #0A2342;
  z-index: 10;

  position: sticky;
  top: -10%;
  transition-duration: 2s;
}

nav:hover {
  transition-duration: 1s;
  top: 0;
}

nav > .nav-section {
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
}

#nav-logo-section, #nav-menu-section {
  flex-basis: calc(100% / 10);
  border-left: 1px solid white;
}

#nav-menu-section {
  border-right: 1px solid white;
}

.menu:hover {
  transition-duration: 0.3s;
  color: #6286b3;
  font-size: 3rem;
}

#nav-social-section {
  flex-grow: 2;
  justify-content: flex-end;
  gap: 3rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2.35rem;
}

.soundcloud:hover {
  transition-duration: 0.3s;
  color: #6286b3;
}

.linkedin:hover {
  transition-duration: 0.3s;
  color: #6286b3;
}

.github:hover {
  transition-duration: 0.3s;
  color: #6286b3;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -2;
}

.backbackbackground {
  position: absolute;
  height: 120%;
  width: 100%;
  object-fit: cover;
  z-index: -3;
  transform: translateY(-30px) translateZ(-20px) scale(3.2);
}

.backbackground {
  position: absolute;
  height: 120%;
  width: 100%;
  object-fit: cover;
  z-index: -3;
  transform: translateZ(-15px) scale(2.6);
}

.background {
  position: absolute;
  height: 250%;
  width: 115%;
  object-fit: cover;
  z-index: -2;
  transform: translateY(625px) translateZ(-10px) scale(2);
}

.foreground {
  position: absolute;
  height: 200%;
  width: 110%;
  object-fit: cover;
  z-index: 0;
  transform: translateY(500px) translateZ(-5px) scale(1.5);
}

.foreforeground {
  position: absolute;
  height: 110%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateY(475px) translateZ(-3px) scale(1.5);
}

.snow {
  position: absolute;
  height: 250%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateX(-710px) translateY(-1000px);
  opacity: 70%;
}

.titles {
  transition-duration: 1.0s;

  margin: 0;
  position: sticky;
  top: 38%;
  z-index: -1;
}

h1, h2 {
  margin: 0;
  font-family: 'Niconne', cursive;
}

.title {
  font-size: 7.5rem;
  color: white;
  text-shadow: 0 0 5px black;
}

.subtitle {
  font-size: 2.25rem;
  color: white;
  text-shadow: 0 0 5px black;
}

.cover1 {
  border-top: 1px solid white;
  font-size: 2rem;
  padding: 2rem;
  background-color: #0A2342;
  color: white;
  height: 300%;
  transform: translateY(300px);
}

.logo {
  height: 80px;
}

